@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
 *{
    padding:0;
    margin:0;

 }
 .body{

    min-height: 100vh;
    
    background-size: 100vw;
    z-index: 1;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .body img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
 }
 #start{
   width: 90vmin;
   /* height: 92vmin; */
   margin-top: 20vmin;
   text-align: center;
   /* padding-top: 40%; */
   font-size: 4vmin;
   font-weight: bolder;
 }
 #start button{
   background:linear-gradient(rgb(31, 215, 31),rgb(201, 248, 32));
   width: 100px;
   font-weight: bolder;
 }
 #board{
  z-index: 9;
    width: 90vmin;
    height: 92vmin;
    border: 10px solid black;
    /* background: linear-gradient(green,yellow); */
    display: grid;
    
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);/* divivde board in 18 1fr boxes*/
    background: linear-gradient(rgba(255, 0, 0, 0.578),rgba(255, 255, 0, 0.568));
 }
 .head{
    background: linear-gradient(red,yellow);

   /* for image */
    /* background-image: url('../down\ head.jpg');
    background-size: 40px;
     */


    /* color:white bolder; */
    border: 2px solid black;
    border-radius: 10px;
    /* height: 20px; */
    transform: scale(1.1);
    
 }
 .snake{
   background: linear-gradient(rgb(83, 232, 33),yellow);
   /* background: purple; */
    border: .25vmin solid black; 
    border-radius: 12px;
 }
 .food{
    background:linear-gradient(red,purple);

    border: 2px solid black;
    border-radius: 10px;
 }
 #score{
   position:absolute;
   top:6vmin;
   right: 2vmin;
   font-size: 3vmin;
   font-weight: bolder;
   font-family: 'Roboto', sans-serif;
 }
 #highscore{
   position:absolute;
   top:1vmin;
   right: 2vmin;
   font-size: 4vmin;
   font-weight: bolder;
   font-family: 'Roboto', sans-serif;
 }
 #spee{
   position:absolute;
   top:10vmin;
   right: 2vmin;
   font-size: 3vmin;
   font-weight: bolder;
   font-family: 'Roboto', sans-serif;
 }